*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: red;
    
}

.page-title{
    margin-bottom: 20px;
    text-align: center;
}

.container{
    width: 900px;
    margin: 0 auto;
    
}

.flex{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.decoration{
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    color:white ;
}

.col-4{
    width: calc(4 * 100% / 12 - 50px);
}

.submit{
    margin: auto;
    
}

.submit > #submit{
    margin-right: 20px;
}

.tiket{
    margin-top: 50px;
    border: 1px solid red;
}